The number of each class (0 to 7) in the training, validation and test datasets

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read the training data csv file
train_df = pd.read_csv('../data/processed/data_train.csv')
train_df.head()

   galaxyID  label1  label2  label3  label4
0    125836       0       0       0       0
1    118568       1       0       0       0
2    108233       2       0       0       0
3     37486       1       0       0       0
4    107711       1       0       0       0

In [3]:
# size of the training dataset
train_size = train_df.shape[0]
train_size

129864

In [4]:
# the class composition
class_composition = train_df['label1'].value_counts().sort_index()
class_composition

label1
0    35181
1    51714
2    14364
3     4986
4     3186
5    13218
6     4221
7     2994
Name: count, dtype: int64

In [5]:
# calculate the compisition ratio (relative to the total number of training data)
class_composition_ratio = class_composition / train_size
class_composition_ratio

label1
0    0.270906
1    0.398217
2    0.110608
3    0.038394
4    0.024533
5    0.101783
6    0.032503
7    0.023055
Name: count, dtype: float64

In [6]:
# get the reciprocal as weights
weights = 1 / class_composition_ratio
weights

label1
0     3.691311
1     2.511196
2     9.040936
3    26.045728
4    40.760829
5     9.824784
6    30.766169
7    43.374749
Name: count, dtype: float64

In [7]:
# assign weight by rounding to 1 decimal places
w = [0 for _ in range(8)]
w[0] = 3.7
w[1] = 2.5
w[2] = 9.0
w[3] = 26.0
w[4] = 40.8
w[5] = 9.8
w[6] = 30.8
w[7] = 43.4

print("Weights = {}".format(w))
print("Sum of weights = {}".format(sum(w)))

Weights = [3.7, 2.5, 9.0, 26.0, 40.8, 9.8, 30.8, 43.4]
Sum of weights = 166.0